#formula1{
    text-align: center !important;  
    background: linear-gradient( #6d87e4, rgb(230, 216, 216)) !important;
    max-width: 30% !important; 
    margin: auto !important; 
    border: inset !important;
    padding-left: 10% !important; 
    border-radius: 7% !important; 
    padding: 1% !important; 
    margin-top: 1% !important; 
    margin-bottom: 1% !important; 
    font-size: large !important; 
}

#Para{
    font-family: system-ui;
    font-weight: 450;
}

#paragraph1{
    text-align: left;
    margin-left: 2%;
    font-family: -webkit-body;
    font-size: 130%;
}

#fName, #lName {
    padding: 1.5%;
    width: 100%;
    font-family: -webkit-body;
}

#lfName{
    font-size: 90%; 
    margin-left: 1%;
    font-family: -webkit-body;
}

#llName{
    font-size: 90%; 
    margin-left: 1%;
    font-family: -webkit-body;
}

#phoneNumber{
    font-weight: bold; 
    text-align: left;
    margin-left: 2%;
    font-family: -webkit-body;
    font-size: 110%;
}

#emailTo{
    font-weight: bold; 
    text-align: left;
    margin-left: 2%;
    font-family: -webkit-body;
    font-size: 110%;
}

#telNo, #mailTo {
    padding: 1.5%; 
    text-align: left;
    margin-left: 1%;
    font-family: -webkit-body;
}

#pref{
    font-weight: bold;
     text-align: left;
     margin-left: 2%;
     font-family: -webkit-body;
    font-size: 110%;
}

#asideleft{
    float: left;
}

#asideright{
    float: right;
    margin-right: 1.9em;
}

#submitDiv{
    margin-top: 4.5em;
    text-align: center;
}

#formSubmit{
    font-size: large;
}

#dateReq{
    margin-left: 1.3em;
}

#heading1{
    color: black;
    font-family: emoji;
    font-size: xx-large;
}

#aside_last{
    float: right;
    text-align: left;
    width: 45%;
}
#aside_first{
    float: left;
    text-align: left;
    width: 45%;
}

#div_aside_first{
    margin-left: 2%;
}

#div_aside_last{
    margin-right: 0%;
}                                                 

@media screen and (max-width : 700px) {
    #div_aside_first{
        margin-left: 2%;
    }
    
    #div_aside_last{
        margin-left: 2%;
        margin-top: 3%;
    }
    #formula1{
        text-align: center !important; 
        background: linear-gradient( #3e60da, rgb(230, 216, 216)) !important;
        max-width: 70% !important; 
        margin: auto !important; 
        padding-left: 0% !important; 
        border-radius: 5% !important; 
        padding: 0% !important; 
        margin-top: 2% !important; 
        margin-bottom: 0% !important; 
        font-size: small !important; 
    }
    #fName, #lName {
        padding: 1.5%;
        width: 100%;
    }
    #hr_tag{
        display: none;
        position: unset;
        color: white;
        border: white;
    }
    #phoneNumber{
        font-weight: bold; 
        margin-top: 32%;
        text-align: left;
        margin-left: 2%;
    }
    #aside_last{
        margin-top: 1%;
        float: left;
        text-align: left;
        width: 65%;
        margin-left: 1%;
    }
    #aside_first{
        float: left;
        text-align: left;
        width: 65%;
        margin-left: 1%;
    }
    #telNo, #mailTo {
        padding: 1.5%; 
        margin-top: 0%;
        text-align: left;
        margin-left: 1%;
    }
    #emailTo{
        font-weight: bold; 
        text-align: left;
        margin-left: 2%;
        margin-top: -10%;
    }
    #asideleft{
        margin-left: 1%;
        float: left;
    }
    #asideright{
        float: left;
        text-align: left;
        margin-left: 10%;
    }
    #submitDiv{
        margin-top: 30%;
        text-align: center;
        margin-bottom: 2%;
    }
    #pref{
        font-weight: bold;
         text-align: left;
         margin-left: 2%;
         margin-top: -10%;
    }
    #heading1{
        color: black;
        font-family: emoji;
        font-size: x-large;
        margin-top: 5%;
    }
    .br_tag{
        visibility: hidden;
        display: none;
    }
}
