*{box-sizing:border-box;margin: 0;padding: 0;}

/* Body */
body{
    background-color: #faf8f2;
    margin: 0;padding: 0;font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root{
    width: 100%;
}

/* Header */
#header{
    background: linear-gradient(#b3c8edeb, #dbe4f287);
    width: 100%;
    position: relative;
    padding: 10px;
}

/* Header Logo */
#header_logo{
    padding: .01%;
    float: left;
    width: 25%;
}

/* Header Logo Image */
#logo{
    width: 40%;
    margin-left: 2%;  
}
#logo img{
    float: left;
    width: 100%;    
    margin-left:5%;
}

/* Header Nav */
#header_nav{
    width: 40%;
    float: right;
    margin-top: 10px;
    text-align: center;
    position: relative;
    max-width: 200px;
    margin-right: auto;
}

/* Header h1 */
#header h1{
    padding-bottom: 2px;
    font-size: 28px;
    font-family: monospace;
    color: rgb(8 50 128);
    text-shadow: 0 0 2px rgb(131 97 223 / 72%);
}


/* Header P */
#header p{
    color: #9e46f7;
    font-size: 1.2em;
    text-shadow: 0 0 1px rgba(192, 22, 22, 0.3);
}

/* Header nav List */
#header_nav ul, #top_nav ul {list-style-type: none;}
#header_nav >ul >li{display: inline-block;}
#header_nav >ul >li a{
    display: inline-block;
    text-decoration: none;
    font-style: italic;
    font-family: sans-serif;
    color: #0a021a;
    font-size: 20px;
    padding: 4px 3px;
    background-color: #faeeee;
}

#header_nav ul li a:hover{
    color: #f01b1b;
    font-size: 23px;
}


/* ------ top nav ------ */
#top_nav{
    overflow-x: hidden;
    
    box-shadow: 0px 0px 1px 1px rgba(0,0,0, .3);
    display: inline-table;
    left:2em;
    top:2em;
    width:0%;
    height:100%;
    background-color: white;
    
}

.dropbtn, #top_nav> ul> li>a{
    border:none;
    display: block;
    outline:none;
    color: #de2828;
    padding: 10px 13px;
    font-weight: bold;
    font-size: 0.9em;
    text-decoration: none;  

}
#top_nav>ul>li>a:visited{color: #8e4f4f;}

.dropdown:hover > .dropbtn {cursor: pointer;color:#e27d11 !important;}

.dropdown{position: relative;}

.dropdown:hover > .dropdown_content {display: block;}

.dropdown_content{
	position: absolute;
	top: 100%;
	left: 0;
    z-index: 6;
    background-color: #c9effa;
    display: none;
    width: 250px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0, .5);
    border-radius: 5px;
    padding: 8px;
}

.dropdown_content::after{content: "";display: block;clear: both;}

.dropdown_content ul{
    margin: 0;border:none;
    padding: 7px;background-color: #ffffff;
}

.dropdown_content li{display: block;width: 100%;}
.dropdown_content .dropdown_title{font-size: .8em;font-weight: bold;padding: 3px 10px;text-align: left;}
.dropdown_content a{
    display: block;
    width: 100%;
    text-align: left;
    text-decoration: none;
    padding: 3px 10px;
    font-size: .8em;
    color:  rgb(131, 131, 131);
}
.dropdown_content li a:visited{
    color:  rgb(56, 127, 233);
    text-decoration: none;
}
.dropdown_content li a:hover{
    color: rgb(65, 35, 35);
    cursor: pointer;
}

.clearfix::after{content: " ";display: block;clear:both;}




/*--------------------FOOTER---------------------------*/
#footer{
	padding: 30px;
}
.sub_footer{
	width: 50%;
	padding: 30px;
	float: left;
}

.sub_footer form{padding: 30px;background:#bbb;border-radius: 8px;}
.sub_footer form input{
	padding: 8px;
	width: 100%;
	display:inline-block;
	margin: 8px 0px;
}

.apps{
    width: 20%;
    height: 20%;
    margin: 1%;
}

.icons:hover{
    color: #439409;
    font-size: large;
}



.sub_footer h4{text-align:center;padding:10px;}

.sub_footer div{text-align:center;}
.sub_footer div a, .full div a{display:inline-block;padding: 12px 20px;}
.sub_footer div img{width: 50px;max-height: 50px;}
.full{background: #bbb;border-radius: 8px;}

.full{width: 100%;padding: 10px;display:block;float:none;clear: both;}
.full div{text-align:center;}

.copyright{border-top: solid 1px #ddd;margin-top: 20px;padding-top:10px;}
