
body{
    background-color: #faf8f2;
    margin: auto;
    border-style: solid;
    padding: 15px;
}

section{
    max-width: 550px;
    color: black;
    font-weight: bold;
    font-size: 30px;
    margin: auto;
    margin-top: 3%;
    background: linear-gradient(rgb(248, 205, 200), rgb(153, 228, 218));
    border-style: double;
    border-radius: .6em;
}

header{
    padding: 21px;
    text-align:center;
    font: outline;
    font-style: oblique;
    text-decoration-line: underline;
    text-decoration-style: double;
    font-family: initial;
}


label{
    padding-left: 20px ;
    margin: 3px;
    display: inline-block;
    font-weight: 510;
    font-size: .7em;
}


input{
    padding: 10px;
    margin: 3px;
}

.column1 {
    padding: 7px;
    margin-bottom: 7px;
    width: 55%;
    padding-left: 7px;
    height: 10%;
    margin-left: 10px;
    border-style: outset;
    border-radius: 5px;
    border-bottom-color:  rgb(103, 168, 225);
}

.col-3{
    
    width: 27%;
}

/*-------------------MEDIA QUERIES---------------*/

@media only screen and (max-width: 700px){
    label{width: 100%; display: block;}
    #radiobtn{
        margin-left: 7%;
        margin-top: -5.5%;

    }
    #Gender{
        padding: 0%;
        margin-left: 5%;
    }
    h2{
        font-size: xx-large;
    }
}
